* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  color: #333;
}

header {
  width: 100%;
  background: #ffffff;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MENU */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.capa {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

div {
  width: 900px;
  max-width: 95%;
  margin: 20px auto;
  background: white;
  padding: 30px;
  border-radius: 6px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #004aad;
}

p {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.6;
}

.frase {
  text-align: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  div {
    padding: 20px;
  }
}
